body{
    background-color: #212121;
    color: #fff;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 300px;
}
#clock{
    background-color: orange;
    padding: 20px 30px;
    border-radius: 50px;
    width: 200px;
    text-align: center; 
} 